.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stockInfo {
  display: flex;
}

.stockBody h1 {
  text-align: center;
}

.stockBody {
  text-align: center;  
  margin-top: 20px;
  margin-bottom: 20px;
}

.dateColumn {
  margin-right: 20px;
  margin-top: 20px;
}

.openColumn {
  margin-left: 20px;
  margin-top: 20px;
}

.highColumn {
  margin-left: 20px;
  margin-top: 20px;
}

.lowColumn {
  margin-left: 20px;
  margin-top: 20px;
}

.closeColumn {
  margin-left: 20px;
  margin-top: 20px;
}

.volumeColumn {
  margin-left: 20px;
  margin-top: 20px;
}